* {
    box-sizing: border-box;
}

body {
    width: 100vw;
}

#container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
}

.grid-item {
    border: 1px solid black;
    width: 60px;
    height: 50px;
    margin: 0;
    padding: 0;
}